<!doctype html>

<html>

<head>
    <title>Test All The Elements | Fictitious Companny, Inc</title>
    <!-- <link rel='stylesheet' href='/css/style.css'> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse" role="navigation">
        <a href="#" class="navbar-brand">LOGO!</a>
        <ul class="nav navbar-nav mr-auto" style="margin-left: 30px">
            <li class="nav-item" class="active">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact us</a>
            </li>
        </ul>
    </nav>
    <div class="container">

        <div class="jumbotron">
            <h1>Test All The Elements</h1>
            This is a test page of basic elements for LaunchReady to test basic verification sand interaction with. It is not intended
            to be a good exmaple of how to use LaunchReady because there is no real user workflow here.
            <br/>
            <br/>
            <div style="text-align: center;">
                <a class="btn btn-primary btn-lg" href="#" role="button">Anchor Button</a>
                <input type="button" class="btn btn-primary btn-lg" role="button" value="Input Button" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Some Elements</h2>
                <ul>
                    <li>
                        <span id="basicElement">Generic Element</span>
                    </li>
                    <li>
                        <input type="text" id="txtInput" tabIndex=1 value="Initial Value" name="txtInput" />
                    </li>
                    <li>
                        <input type="password" id="txtPassword" />
                    </li>
                    <li>
                        <input type="submit" id="btnSubmit" value="Submit Button" />
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Some Elements</h2>
                <ul>
                    <li>
                        <input type="reset" id="btnReset" value="Reset Button" />
                    </li>
                    <li>
                        <input type="button" id="btnInput" tabIndex=2 value="Input Button" />
                    </li>
                    <li>
                        <button id="btnTag">Button Tag</button>
                    </li>
                    <li>
                        <input type="checkbox" id="chkBox" value="check" />Check!</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Some Elements</h2>
                <ul>
                    <li>
                        <input type="radio" id="rdoButton" value="yes" />Yes!</li>
                    <li>
                        <label id="lblLabel">Label!</label>
                    </li>
                    <li>
                        <textarea id="txtArea"></textarea>
                    </li>
                    <li>
                        <a href="#" title="anchor title" id="link">anchor</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr/>
        <footer>
            <p>&copy; Fictitious Company LLC, 2017</p>
        </footer>
    </div>
    <script>
        $(document).ready(function () {

            $("#btnTag").click(function () {
                $("#btnTag").text("Clicked");
            });
            $("#link").click(function () {
                $("#link").text("Clicked");
            });
            $("input").click(function () {
                $(this).val("Clicked");
            });
            $("input").focus(function () {
                $("input").val("Not Focused");
                $(this).val("Focused");
                $(this).val("Focused");
                $(this).select();
            });
        });
    </script>
</body>

</html>